.player {
    display: flex;
    width: 300px;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: lightgrey;
    span {
        font-size: 24px;
        margin-left: 32px;
        margin-right: 32px;

    }
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 1;
    }
}

.player-active {
    background-color: skyblue;
}