.player {
    display: flex;
    align-items: center;
    border: 2px red solid;
    width: 30vw;
    height: 10vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: lightgrey;
    position: relative;
    overflow: overlay;
    z-index: 2;
    span {
        font-size: 18px;
        margin-left: 20px;
    }
    img {
        display: flex;
        position: absolute;
        width: inherit;
        height: inherit;
        object-fit: scale-down;
        border-radius: 1;
    }
}



.player-active {
    background-color: skyblue;
    transform: scale(1.1);
    border: 3px green solid;
}

@media screen and (max-width: 400px){
    .player {
        img {
            display: none;
        }
    }
}